<div class="container" style="padding-left: 26%; padding-right: 26%;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title" style="text-align: center;">Welcome to Phone Book</h1>

            <br>
            <br>
            <button type="submit" class="btn btn-primary" (click)="addBtnClick()">Add Contact</button>
                <button
                type="button"
                class="btn btn-warning float-right"
                (click)="viewBtnClick()"
                >
                View List
                </button>
        </div>
    </div>
</div>